XTerm*faceName: Monospace Bold
XTerm*utf8: 1
XTerm*geometry: 80x24
XTerm*faceSize: 14
XTerm*jumpScroll: true
XTerm*multiScroll: true
XTerm*boldMode: true
XTerm*scrollBar: false
XTerm*scrollTtyOutput: false
XTerm*scrollKey: true
XTerm*cursorBlink: true
XTerm*dynamicColors: true
XTerm*saveLines: 16384
XTerm*background: #000000
XTerm*foreground: #ffffff
XTerm*cursorColor: #ffffff
XTerm*visualBell: false
XTerm*borderWidth: 0
XTerm*color0: #000000
XTerm*color1: #ae4747
XTerm*color2: #696c59
XTerm*color3: #c7c93d
XTerm*color4: #6f99b4
XTerm*color5: #aa8cbf
XTerm*color6: #68b4b1
XTerm*color7: #707678
XTerm*color8: #a3a5a6
XTerm*color9: #ee6363
XTerm*color10: #90a57d
XTerm*color11: #d0c54d
XTerm*color12: #7c96b0
XTerm*color13: #8f4c70
XTerm*color14: #2d8285
XTerm*color15: #ffffff
XTerm*eightBitInput: false
XTerm*eightBitOutput: true
